 ### 1. Write a program to accept percentage from the user and display the grade according to the following 
### criteria: 

|marks|grade|
|-|-|
|**>90**|***a***|
|**>80 and <=90**|***b***|
|**>=60 and <=80**|***c***|
|**Below 60**|***d***|

Ans:

In [12]:
marks = int(input("Enter the marks"))

if marks>90:
    print("Your grade is A.")
elif marks>80 and marks<=90:
    print("Your grade is B.")
elif marks>=60 and marks<=80:
    print("Your grade is C.")
else:
    print("Your grade is D.")

Enter the marks 87

Your grade is B.

### 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the Following
### criteria: 

|tax|Cost price(in Rs)|
|-|-|
|**15%**|***>100000***|
|**10%**|***50000 and <= 100000***|
|**5%**|***<=50000***|


Ans:

In [2]:
cost = int(input("What is the Price of the bike?"))

if cost > 100000:
    print(f"Raod Tax is: {cost * 0.15}")
elif cost > 50000 and cost <= 100000 :
    print(f"Raod Tax is: {cost * 0.1}")
else: 
    print(f"Raod Tax is: {cost * 0.05}")

What is the Price of the bike? 350000

Raod Tax is: 52500.0

### 3. Accept any city from the user and display monuments of that city. 
### criteria: 

|tax|Cost price(in Rs)|
|-|-|
|**Delhi**|***Red Fort***|
|**Agra**|***Taj Mahal***|
|**Jaipur**|***Jal Mahal***|


Ans:

In [9]:
city = input("Enter the city from table")
citys = city.capitalize()
if citys == "Delhi":
    print(f"you can visit Red Fort in {citys}")
elif citys == "Agra":
    print(f"you can visit Taj Mahal in {citys}")
elif citys == "Jaipur":
    print(f"you can visit Jal Mahal in {citys}")
else:
    print("you enter the wrong city plese choose the correct one")

Enter the city from table nepal

you enter the wrong city plese choose the correct one

### 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10. 
Ans:

In [12]:
n = int(input("enter the number"))
count=0
while n>10:
    count+=1
    n=n/3
print(count)

enter the number 80

2

### 5. Why and When to Use while Loop in Python give a detailed description with example 
Ans:
 A while loop in python allows a part of the code to be executed repeatedly as long as a given condition is true. The while loop in python is also called a pre-tested loop. It is typically used when the number of iterations is not known.
 A python while loop expression condition consists of three parts:
1. A piece of code that needs to be repeated over and over
2. The while keyword
3. A condition that translates to either true or false

### 6. Use nested while loop to print 3 different patterns. 
Ans:

In [17]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [18]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  7

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  8

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31  32  33  34  35  36

### 7. Reverse a while loop to display numbers from 10 to 1
Ans:

In [1]:
i = 10

while i>=1:
    print(i, end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1

### 8. Reverse a while loop to display numbers from 10 to 1
Ans:

In [13]:
i = 10

while i>=1:
    print(i, end=" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1